<head>
  <link rel="stylesheet" href="/styles.css" />
</head>
<html>
  <body>
    <%- include('navbar', {links: links}) %> <% users.forEach((user) => { %> <%-
    include('users/user', {user: user}); %> <% }); %>
  </body>
</html>
